@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('cal-bg.webp') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 40px;
}

.intro {
  width: 100%;
  text-align: center;
  color: #b9ffc1;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 20px;
}

.intro h2 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Bitcount Grid Double', monospace;
  color: #caffd3;
}

.intro p {
  font-size: 16px;
  color: #e4ffe7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 10px 10px 0 #122519;
  overflow: hidden;
  width: 320px;
  padding: 10px;
}

.result {
  background-color: #e1ffe9;
  padding: 20px;
  border-radius: 24px 24px 0 0;
}

.history p,
.output p {
  text-align: right;
  margin: 0;
  color: #2f5339;
}

.history p {
  font-size: 20px;
  color: #4a745e;
  font-family: 'Bitcount Grid Double', monospace;
  font-weight: bold;
}

.output p {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Bitcount Grid Double', monospace;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
  background-color: #dfffe6;
  border-radius: 0 0 24px 24px;
}

button {
  padding: 18px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  background:  #a4eeb5;
  color: #1b1b1b;
  box-shadow: 3px 3px 0 #2e5d3f;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background:  #90e1a4;
}

button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 0 #2e5d3f;
}

.operator {
  background:  #74c365;
  color: #ffffff;
}

button#clear,
button#backspace {
  font-weight: bold;
  background: #f9848b;
  color: #ffffff;
}

button#equal {
  grid-column: span 1;
  background:  #5aa54d;
  color: #ffffff;
  font-weight: bold;
}

button.empty {
  background: transparent;
  box-shadow: none;
  cursor: default;
}
